<!-- fragments/header.html -->
<div th:fragment="header">
    <header>
        <nav>
            <ul>
                <li>
                    <a th:href="@{/api/view/posts}" th:text="Post">Board</a>
                </li>
                <li>
                    <a th:href="@{/api/view/status}" th:text="Status">Status</a>
                </li>
                <li>
                    <a th:href="@{/api/view/requests}" th:text="Request">Request</a>
                </li>
                <li>
                    <a th:href="@{/api/view/settings}" th:text="Setting">Setting</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
