<!-- fragments/header.html -->
<div th:fragment="header">
    <header>
        <nav>
            <ul>
                <li>
                    <a th:href="@{/api/view/Boards}" th:text="Board">Board</a>
                </li>
                <li>
                    <a th:href="@{/api/view/Status}" th:text="Status">Status</a>
                </li>
                <li>
                    <a th:href="@{/api/view/Requests}" th:text="Request">Request</a>
                </li>
                <li>
                    <a th:href="@{/api/view/Settings}" th:text="Setting">Setting</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
