<!-- layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container">
    <aside th:replace="fragments/aside :: aside"></aside>
    <main class="content">
        <div th:replace="${contentTemplate}"></div>
    </main>
</div>

<script th:src="@{/js/common.js}"></script>
</body>
</html>
