<!-- layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="container">
<!--    &lt;!&ndash; 동적으로 로드되는 사이드바 &ndash;&gt;-->
    <aside th:replace="@{${asideTemplate}}"></aside>
<!--    &lt;!&ndash; 중앙 콘텐츠 영역 &ndash;&gt;-->
<!--    <main class="content">-->
<!--        <div th:replace="~{${contentTemplate}}"></div>-->
<!--    </main>-->
</div>

<script th:src="@{/js/common.js}"></script>
</body>
</html>
