<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
    <link rel="stylesheet" th:href="@{/css/style2.css}"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="container">

    <aside th:replace="~{fragments/aside :: aside}"></aside>

    <div class="main-content">
        <h1>게시글 목록</h1>
        <table class="post-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <!-- Thymeleaf를 사용하여 서버에서 게시글 데이터를 반복 렌더링 -->
            <tr th:each="post : ${posts}">
                <td th:text="${post.getPostId()}"></td>
                <td>
                    <a th:href="@{/api/view/post/{id}(id=${post.getPostId()})}" th:text="${post.getPostTitle()}"></a>
                </td>
                <td th:text="${post.getBoardNameKor()}"></td>
                <td th:text="${post.getBoardNameEng()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script th:src="@{/js/common.js}"></script>
</body>
</html>
