<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카카오 로그인 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1 th:text="${alert}"></h1>
<div class="wrapper">
    <div class="content" id="contentDiv" onclick="copyToClipboard()">
        <p id="uuidText" th:text="'|| ' + ${generateTelegramUuidOut.getUuid()}"></p>
    </div>

    <div class="content2" id="contentDiv2">
        <a th:href="@{https://t.me/tanoos_000001_bot}">텔레그램 봇으로 이동</a>
    </div>

</div>

<script>
    function copyToClipboard() {
        // p 태그의 텍스트 요소를 가져옴
        var uuidTextElement = document.getElementById('uuidText');
        var contentDiv = document.getElementById('contentDiv');
        var originalText = uuidTextElement.innerText;

        // 텍스트를 가져옴
        var textToCopy = originalText;

        // 임시 텍스트 영역을 생성하여 텍스트를 복사
        var tempTextArea = document.createElement('textarea');
        tempTextArea.value = textToCopy;
        document.body.appendChild(tempTextArea);
        tempTextArea.select();
        document.execCommand('copy');
        document.body.removeChild(tempTextArea);

        // p 태그의 내용을 변경
        uuidTextElement.innerText = '클립보드에 복사되었습니다';

        // 클릭 비활성화
        contentDiv.classList.add('disabled');

        // 3초 후에 원래 내용으로 되돌리고 클릭 활성화
        setTimeout(function() {
            uuidTextElement.innerText = originalText;
            contentDiv.classList.remove('disabled');
        }, 3000);
    }
</script>
</body>
</html>
